.content {
  height: 100%;
  width: 100%;
  background: #f8f8f8;
  padding: 30px;
  overflow-y: auto;
}
.contentMenu {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
}


